#game {
  width:600;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#message {
  font-size: 30px;
}
#message.error {
  color:#c00;
}
#message.success {
  color:#529b2f;
}
#message.info {
  color:#5293d8;
}
#message.warn {
  color:#ff982d;
}

#map_panel {
  float: right;
}

.map_cell.cell_choosable {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

img.map_object {
  width:40;
  height:40;
}

.map_cell {
  width:40;
  height:40;
  float:left;
  margin: 1px;
  text-align: center;
  position: relative;
  background-size: 100% 100%;
  background-image: url(./objects/grass_round_tile.png);

  /* tmp until art 
  border: solid thin gray;
  background-color: #999999;*/
}

.map_row {
  clear:both;
}

#action_move {
  background-image: url('./ui/move_green_btn.png');
}

#action_move:active {
  background-image: url('./ui/move_red_btn.png');
}

.action_button {
  width: 150px;
  height: 88px;
  padding: 3%;
  margin: 1%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  /*text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;*/
}

.action_button:disabled {
  filter: sepia(100%) opacity(60%);
  cursor: default;
}

#actions_panel {
  width: 150;
  float: right;
}

.player_inventory {
  width:50px;
  height:50px;
  float: left;
  margin: 12px;
  padding:10px;
  background-size: 100% 100%;

  border:solid thin gray;
}

.player_icon {
  position: absolute;
  top:0;
  left:0;
}

.inventory_object{
  padding:2px;
}

#players_panel {
  float:right;
  margin:15px;
}

#player_0_inventory {
  background-image: url('./ui/box_red.png');
}

#player_1_inventory {
  background-image: url('./ui/box_blue.png');
}

#player_2_inventory {
  background-image: url('./ui/box_yellow.png');
}

#player_3_inventory {
  background-image: url('./ui/box_green.png');
}
